@bodyBackgroundColor: @white;
@bodyTextColor: @textGrey;

@buttonTextColor: @textGrey;
@buttonBackgroundColor: @lightestGrey;
@buttonHoverBackgroundColor: lighten(@blue, 50%);
@buttonCancelHoverBackgroundColor: lighten(@red, 40%);
@buttonSubmitBackgroundColor: black;

@labelColor: lighten(@textGrey, 40%);
@inputColor: @textGrey;
@inputBackgroundColor: @white;
@inputBorderColor: @formBorderGrey;
@inputBorderHoverColor: @formBorderGreyHover;

@headerBackgroundColor: @lightestGrey;
@headerBorderColor: @lightGrey;
@headerButtonHoverColor: @lightGrey;

@sidebarBackgroundColor: @darkGrey;
@sidebarTextColor: @white;
@sidebarHeaderIconColor: @white;
@sidebarLinkTextColor: @formBorderGreyActive;
@sidebarLinkHoverBackgroundColor: @darkestGrey;
@sidebarLinkHoverTextColor: @white;

@addColumnLinkTextColor: @midGrey;
@addColumnLinkHoverTextColor: @darkestGrey;
@addColumnLinkActiveTextColor: @textGrey;
@addColumnLinkActiveBackgroundColor: @lightGrey;
@addColumnInputBackgroundColor: @lightGrey;

@threadBackgroundColor: @white;
@threadBorderColor: @lightGrey;
@threadTitleBackgroundColor: @white;
@threadTitleBorderColor: @lightestGrey;
@threadMetaBackgroundColor: @lightestGrey;
@threadMetaBorderColor: @lightGrey;
@threadMessageBorderColor: @lightestGrey;
@threadMessageTagBackgroundColor: @lightestGrey;
@threadMessageControlLinkHoverBackgroundColor: @lightestGrey;
@threadMessageAttachmentLinkBackgroundColor: @lightGrey;

@threadContentCodeBackgroundColor: @lightestGrey;
@threadContentCodeTextColor: @textGrey;

@columnBorderColor: @lightGrey;
@columnTitleBorderColor: @lightestGrey;
@columnEmailBackgroundColor: @white;
@columnEmailHoverBackgroundColor: @lightestGrey;

@contactListBorderColor: @lightestGrey;
@contactHoverBackgroundColor: @lightestGrey;

@settingsAccountBackgroundColor: @lightestGrey;
@settingsAccountFormOverlayBackgroundColor: rgba(0, 0, 0, 0.1);
@settingsNewAccountButtonHoverBackgroundColor: @white;
@settingsNavTextColor: @lightestTextGrey;
@settingsNavActiveTextColor: @textGrey;

@searchFormBackgroundColor: @lightestGrey;
