@import (multiple) "base-default-variables.less";

@sidebarBackgroundColor: @lightGrey;
@sidebarTextColor: @lightTextGrey;
@sidebarHeaderIconColor: @lightTextGrey;
@sidebarLinkTextColor: @lightTextGrey;
@sidebarLinkHoverBackgroundColor: @midGrey;
@sidebarLinkHoverTextColor: @white;

body.theme-default-light {
  @import (multiple) "base.less";
}
