@bodyBackgroundColor: @darkGrey;
@bodyTextColor: @lightestTextGrey;

@buttonTextColor: @lightestTextGrey;
@buttonBackgroundColor: @darkestGrey;
@buttonHoverBackgroundColor: darken(@blue, 25%);
@buttonCancelHoverBackgroundColor: darken(@red, 32%);
@buttonSubmitBackgroundColor:darken(@green, 40%);

@labelColor: darken(@lightestTextGrey, 20%);
@inputColor: @lightestTextGrey;
@inputBackgroundColor: @darkGrey;
@inputBorderColor: @midGrey;
@inputBorderHoverColor: @formBorderGreyHover;

@headerBackgroundColor: @darkGrey;
@headerBorderColor: @darkestGrey;
@headerButtonHoverColor: @black;

@sidebarBackgroundColor: @darkestGrey;
@sidebarTextColor: @bodyTextColor;
@sidebarHeaderIconColor: @lightTextGrey;
@sidebarLinkTextColor: @lightestTextGrey;
@sidebarLinkHoverBackgroundColor: @black;
@sidebarLinkHoverTextColor: @white;

@addColumnLinkTextColor: @midGrey;
@addColumnLinkHoverTextColor: @lightGrey;
@addColumnLinkActiveTextColor: @lightGrey;
@addColumnLinkActiveBackgroundColor: @darkestGrey;
@addColumnInputBackgroundColor: @darkestGrey;

@threadBackgroundColor: @darkestGrey;
@threadBorderColor: @darkestGrey;
@threadTitleBackgroundColor: @darkestGrey;
@threadTitleBorderColor: @darkGrey;
@threadMetaBackgroundColor: @darkestGrey;
@threadMetaBorderColor: @black;
@threadMessageBorderColor: @darkGrey;
@threadMessageTagBackgroundColor: @darkGrey;
@threadMessageControlLinkHoverBackgroundColor: @darkGrey;
@threadMessageAttachmentLinkBackgroundColor: @darkGrey;

@threadContentCodeBackgroundColor: @darkestGrey;
@threadContentCodeTextColor: @lightestTextGrey;

@columnBorderColor: @darkestGrey;
@columnTitleBorderColor: @darkestGrey;
@columnEmailBackgroundColor: @darkGrey;
@columnEmailHoverBackgroundColor: @darkestGrey;

@contactListBorderColor: @darkestGrey;
@contactHoverBackgroundColor: @darkestGrey;

@settingsAccountBackgroundColor: @darkestGrey;
@settingsAccountFormOverlayBackgroundColor: rgba(255, 255, 255, 0.1);
@settingsNewAccountButtonHoverBackgroundColor: @darkGrey;
@settingsNavTextColor: @lightTextGrey;
@settingsNavActiveTextColor: @lightestTextGrey;

@searchFormBackgroundColor: @darkestGrey;

@tooltipBackgroundColor: darken(@darkestGrey, 10%);
@tooltipTextColor: @lightGrey;

body.theme-default-dark {
  @import (multiple) "base.less";
}
