{
    "presets":[
        "es2015",
        "react",
    ],
    "plugins": [
        "babel-plugin-transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-class-properties",
    ],
}
