{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "commonjs": true
    },
    "plugins": ["react", "import", "prettier"],
    "rules": {
        "no-console": [0],
        "import/no-unresolved": [2],
        "import/named": [2],
        "import/default": [2],
        "import/export": [2],
        "import/first": [2],
        "import/no-duplicates": [2],
        "prettier/prettier": "error"
    },
    "settings": {
        "import/resolver": "webpack"
    }
}
