*.log
.envrc

.task/
bin/

frontend/dist/
frontend/wails/
frontend/bindings/
frontend/node_modules/

build/darwin/icons.icns
build/windows/icon.ico
build/darwin/Info.plist
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

internal/constants/secrets_production.go
