@import 'styles/base.less';
@import 'styles/columns.less';
@import 'styles/new_email.less';
@import 'styles/settings.less';
@import 'styles/contacts.less';
@import 'styles/header.less';
@import 'styles/sidebar.less';
@import 'styles/thread.less';
@import 'styles/frameless.less';
@import 'styles/select.less';
@import 'styles/meta.less';


/*
    Search */

section#search {
    margin-left: 10px;
    right: 10px;
    left: @sidebarWidth;
    position: absolute;
    z-index: 3;

    input {
        padding: 4px 0 4px 0;
        margin-top: 6px;
        font-size: 16px;
        font-family: Roboto;
        display: block;
        background: transparent;
        border: none;
        outline: none;

        &:focus, &:hover {
            border-bottom: 1px solid #E7E7E7;
        }
    }
}
