header {
  height: @topHeight;
  position: relative;

  h1#logo {
    float: left;
    line-height: 22px;
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 5px;
    font-size: 16px;

    span,
    i {
      float: left;
    }

    i {
      line-height: 22px;
      font-size: 15px;
    }
  }

  &.header-bar {
    font-size: 15px;
    width: 100%;
    padding: 8px;
    position: fixed;
    top: 0;
    height: 41px;
    z-index: 1000;
    border-bottom: 1px solid;
    padding-right: 20px;

    nav {
      font-size: 14px;

      a {
        margin-right: 20px;
        color: @lightestTextGrey;

        &.active {
          color: white;
        }
      }
    }

    &.flex {
      display: flex;
      justify-content: space-between;
    }

    h2 {
      margin-top: 15px;
      margin-left: 20px;
      font-size: @titleTextSize;

      .no-select;
    }

    button {
      padding: 8px;
      margin: 11px 0 11px 11px;

      i {
        margin-right: 4px;
        font-size: @bigTextSize;
      }
    }

    .button-set {
      button {
        margin-left: @borderRadius;
      }
    }
  }
}

body.os-darwin .header-bar {
  padding-left: 88px;
}
