/*
    Variables */


@darkGrey: #343838;
@midGrey: #A7A7A7;
@lightGrey: #E7E7E7;
@lightestGrey: #F7F7F7;

@pink: #F2318D;

@blue: #008dd5;
@orange: #fb6107;
@green: #29bf12;
@yellow: #ecc30b;

@dragBarHeight: 22px;

@topHeight: 67px;
@framelessHeight: 18px;

@sidebarWidth: 150px;
@borderRadius: 2px;

@formBorderGrey: @lightGrey;
@formBorderGreyHover: #D7D7D7;
@formBorderGreyActive: #A7A7A7;

@textGrey: #333333;
@lightTextGrey: #666666;
@lightestTextGrey: #999999;


/*
    Custom scrollbar */

.scrollbar {
    overflow-y: scroll;
}

.no-select {
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/*
    Basics */

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    color: @textGrey;
    background: #FFFFFF;
}

a {
    text-decoration: none;
    color: @blue;
    cursor: pointer;

    &:hover {
        color: darken(@blue, 10%);
    }
}

h1, h2, h3 {
    font-family: 'Roboto Slab';
    font-weight: normal;
}

input {
    font-family: Roboto;
}

header {
    height: @dragBarHeight;
    background: @pink;
    position: relative;
    color: white;

    h1#logo {
        float: right;
        line-height: 22px;
        display: inline-block;
        margin: 0;
        padding: 0 5px 0 70px;
        // background: @blue;
        font-size: 16px;

        span, i {
            float: left;
        }

        i {
            line-height: 22px;
            font-size: 15px;
        }
    }

    div.header-errors {
        float: right;
        text-align: right;

        i {
            line-height: 16px;

            &.error {
                color: @orange !important;
            }
        }

        div.icon-wrapper {
            padding-right: 10px;

            a {
                color: white;
            }
        }

        div.icon-contents {
            display: none;
            position: absolute;
            width: 600px;
            border: 5px solid @orange;
            max-height: 500px;
            overflow-y: auto;
            background: white;
            padding: 5px;
            z-index: 9999;
            color: black;
            left: @sidebarWidth;
            text-align: left;
            pointer-events: all;
            user-select: text;

            p {
                margin: 15px 0 10px 0;
                padding-bottom: 10px;
                border-bottom: 1px solid @lightGrey;
                line-height: 24px;

                &:last-child {
                    border-bottom: none;
                }

                span.meta {
                    display: block;
                    font-size: 12px;
                    // line-height: 12px;
                    color: @darkGrey;
                }

                textarea {
                    font-size: 12px;
                    line-height: 20px;
                    resize: none;
                    height: 100px;
                }

                a {
                    color: @blue;
                }
            }
        }

        div.icon-contents:hover,
        div.icon-wrapper:hover div.icon-contents {
            display: block;
        }
    }

    &.header-bar div.header-errors {
        margin-top: 20px;
        position: absolute;

        div.icon-contents {
            margin-left: -600px;
            left: 0;
        }

        div.icon-wrapper a {
            color: @textGrey;
        }
    }
}


/*
    Styles */

.green {
    color: @green;
}
.green-hover:hover {
    color: darken(@green, 25%);
}

.red {
    color: @orange;
}
.red-hover:hover {
    color: darken(@orange, 25%);
}

.blue {
    color: @blue;
}
.blue-hover:hover {
    color: darken(@blue, 25%);
}

.yellow {
    color: @yellow;
}
.yellow-hover:hover {
    color: darken(@yellow, 25%);
}



/*
    Layout */

.wide {
    width: 100%;
}

.third {
    width: 33%;
}

.two-third {
    width: 66%;
}

.quarter {
    width: 24%;
}

.half {
    width: 49%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.justify-left {
        justify-content: left;
    }
}



/*
    Forms */

button {
    padding: 5px;
    font-weight: bold;
    background: @blue;
    font-size: 14px;
    border: none;
    border-radius: @borderRadius;
    color: white;
    cursor: pointer;

    &:hover {
        background: darken(@blue, 10%);
    }

    &.cancel {
        background: @orange;

        &:hover {
            background: darken(@orange, 10%);
        }
    }

    &.submit {
        background: @green;

        &:hover {
            background: darken(@green, 10%);
        }
    }

    &.error {
        background: @orange;
    }

    &.inactive {
        background: @midGrey;
    }

    &.disabled, &.disabled:hover {
        background: @lightGrey;
        cursor: auto;
    }

    &.main-button {
        padding: 15px;
        font-size: 16px;
    }
}

input, textarea {
    width: 100%;
    border-radius: @borderRadius;
    padding: 5px;
    border: 1px solid @formBorderGrey;
    font-size: 16px;

    &:hover, &:focus {
        border-color: @formBorderGreyHover;
        outline: none;
    }

    &.inline, &[type=checkbox] {
        width: auto;
    }
}
