/*
    Variables */

@topHeight: 53px;

@sidebarWidth: 175px;
@threadSidebarWidth: 275px;
@borderRadius: 5px;

@titleTextSize: 17px;
@bigTextSize: 15px;
@textSize: 13px;
@smallTextSize: 11px;


/*
    Custom scrollbar */

.scrollbar {
    overflow-y: scroll;
}

.no-select {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.no-transition {
    transition: none !important;
}


/*
    Basics */

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-size: @textSize;
    line-height: 24px;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3 {
    font-weight: normal;
}

input {
    font-family: Roboto;
}


/*
    Layout */

.wide {
    width: 100%;
}

.third {
    width: 33%;
}

.two-third {
    width: 66%;
}

.quarter {
    width: 24%;
}

.half {
    width: 49%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.justify-left {
        justify-content: left;
    }
}



/*
    Forms */

button {
    padding: 5px;
    font-weight: bold;
    font-size: @textSize;
    border: none;
    border-radius: @borderRadius;
    color: white;
    cursor: pointer;

    &.disabled, &.disabled:hover {
        cursor: auto;
    }

    &.main-button {
        padding: 15px;
        font-size: 16px;
    }
}

input, textarea {
    width: 100%;
    border-radius: @borderRadius;
    padding: 5px;
    border: 1px solid;
    font-size: @textSize;

    &:hover, &:focus {
        outline: none;
    }

    &.inline, &[type=checkbox] {
        width: auto;
    }
}


/*
    Other bits ??? */

span.multi-subject {
    margin-right: 4px;
    border-radius: 24px;
    width: 24px;
    height: 24px;
    float: left;
    text-align: center;
    display: inline-block;
    font-size: @smallTextSize;
}

.tooltip-wrapper {
    position: relative;

    .tooltip {
        display: none;
        z-index: 999;
        position: absolute;
        left: 100%;
        top: 0;
        width: auto;
        border-radius: @borderRadius;
        white-space: nowrap;
        margin-left: 5px;
        margin-top: -5px;
        padding: 5px;
        font-size: @smallTextSize;
    }

    &:hover .tooltip {
        display: block;
    }
}
