@columnTopHeight: 91px;


/*
    Columns/emails */

section#columns {
    display: flex;
    top: 0px;
    left: 150px;
    bottom: 0;
    right: 0;
    position: absolute;

    .no-select;

    form#add-column {
        background: @lightestGrey;
        height: @topHeight;
        flex: 1;

        div {
            display: inline-block;
            padding: 42px 20px 0 20px;

            &.form {
                width: 120px;
            }
        }

        input {
            width: 60px;
            margin-right: 3px;
        }
    }

    div.column {
        flex: 10;
        max-width: 50%;
        position: relative;
        height: 100%;
        border-right: 1px solid @lightestGrey;

        &.hover {
            opacity: 0.5;
        }

        h3 {
            margin: 0;
            padding: 10px;
            padding-top: 40px;
            background: @lightestGrey;
            height: @topHeight;
            line-height: 20px;
            position: relative;
            font-size: 20px;
            z-index: 2;

            i.loading {
                font-size: 12px;
                color: @formBorderGreyActive;
                margin-left: 5px;
                margin-top: -2px;
            }

            span.meta {
                float: right;
                font-size: 12px;
                font-family: Roboto;
                color: @formBorderGreyActive;

                div.icons {
                    display: none;
                    margin-left: 3px;
                    margin-top: 1px;
                    float: right;
                    cursor: pointer;
                    font-size: 16px;

                    i {
                        margin-right: 3px;
                        font-size: 14px;

                        &.delete {
                            font-size: 16px;
                        }
                    }
                }
            }

            &:hover {
                span.meta {
                    div.icons {
                        display: inline-block;
                    }
                    div.text {
                        display: none;
                    }
                }
            }
        }

        &:last-child h3 {
            border-bottom: none;
        }

        // &.open div.emails {
        //     overflow-y: hidden;
        // }

        a.toggle-archived {
            display: block;
            font-size: 12px;
            color: @lightTextGrey;
            text-align: center;
        }
    }

    div.emails {
        position: absolute;
        width: 100%;
        top: @topHeight;
        bottom: 0;
        overflow-x: hidden;

        div.loader {
            text-align: center;
            margin-top: 20px;
        }

        .scrollbar
    }

    div.email {
        padding: 10px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        height: 140px;
        transition: height 500ms, padding 500ms;

        &.hover {
            background: @lightestGrey;
        }

        // &.open {
        //     background: @lightTextGrey;
        // }

        &.open {
            z-index: 8;
        }

        &.archiving {
            height: 0;
            padding: 0 10px;
            background: #47d966;
            pointer-events: none;
        }

        &.trashing {
            height: 0;
            padding: 0 10px;
            background: @orange;
            pointer-events: none;
        }

        &.error {
            background: rgba(255, 0, 0, 0.1);

            &.hover {
                background: rgba(255, 0, 0, 0.2);
            }
        }

        &.unread h4 {
            font-weight: bold;
        }

        h5 {
            margin: 0;
            height: 24px;
            overflow: hidden;

            span {
                margin-right: 4px;
            }

            img.avatar {
                width: 12px;
                height: 12px;
                border-radius: 12px;
                margin-right: 2px;
                background: @lightGrey;
            }
        }

        h4 {
            margin: 0;
            font-weight: normal;
            height: 24px;
            overflow: hidden;
        }

        span.date {
            float: right;
            color: @lightTextGrey;
            font-size: 12px;
            font-weight: normal;
        }

        p {
            margin: 0;
            color: @formBorderGreyActive;
            font-size: 14px;
            height: 48px;  // line-height * 2
            overflow: hidden;
        }

        div.meta {
            color: @lightTextGrey;
            font-size: 12px;

            span.buttons {
                float: right;
                font-size: 14px;

                a {
                    color: @lightTextGrey;
                    padding: 5px 2px;

                    &:last-child {
                        padding-right: 0;
                    }

                    &.star {
                        &.active, &:hover {
                            color: @yellow;
                        }
                    }

                    &.archive {
                        &.active, &:hover {
                            color: @green;
                        }
                    }

                    &.trash {
                        &.active, &:hover {
                            color: @orange;
                        }
                    }
                }
            }
        }
    }
}
