section#contacts {
    h2 {
        padding-top: 40px;
        margin-top: 0;
        margin-left: 10px;
    }

    div.search {
        display: inline-block;
        width: 644px;
        margin-left: 10px;
        padding-right: 10px;
    }

    button.add-contact {
        margin-left: 10px;
    }

    form.add-contact {
        margin: 10px;
        display: inline-block;

        div {
            width: 200px;
            display: inline-block;
            margin-right: 20px;
        }
    }

    div#contact-list {
        overflow-y: auto;
        position: absolute;
        top: 130px;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid @lightestGrey;

        &.form-open {
            top: 160px;
        }
    }

    div.contact {
        padding: 10px;
        height: 50px;
        overflow: hidden;

        &:hover {
            background: @lightestGrey;
        }

        input {
            width: auto;
        }

        div {
            display: inline-block;
            vertical-align: top;
        }

        div.form, div.text {
            width: 75%;
        }

        div.text {
            margin-top: 3px;
        }

        div.buttons {
            width: 25%;
            text-align: right;
        }
    }
}
