section#contacts {
    h2 {
        padding-top: 40px;
        margin-top: 0;
        margin-left: 20px;
    }

    div.search {
        display: inline-block;
        position: absolute;
        left: 20px;
        right: 140px;
        padding-right: 20px;
    }

    button.add-contact {
        float: right;
        margin-right: 20px;
        padding: 6.5px 5px;
    }

    form.add-contact {
        margin: 50px 20px 0 20px;
        display: inline-block;

        div {
            width: 200px;
            display: inline-block;
            margin-right: 20px;
        }
    }

    div#contact-list {
        overflow-y: auto;
        position: absolute;
        top: 130px;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid @lightestGrey;

        &.form-open {
            top: 200px;
        }
    }

    div.contact {
        padding: 10px 20px;
        height: 50px;
        overflow: hidden;

        &:hover {
            background: @lightestGrey;
        }

        input {
            width: auto;
        }

        div {
            display: inline-block;
            vertical-align: top;
        }

        div.form, div.text {
            width: 75%;
        }

        div.text {
            margin-top: 3px;
        }

        div.buttons {
            width: 25%;
            text-align: right;
        }
    }
}
