section#contacts {
    height: 100%;
    overflow-y: auto;

    h2 {
        margin-left: 10px;
    }

    div.search {
        display: inline-block;
        width: 250px;
        margin-left: 10px;
        padding-right: 10px;
        border-right: 1px solid @lightGrey;
    }

    form.add-contact {
        margin: 10px;
        display: inline-block;

        div {
            width: 250px;
            display: inline-block;
            margin-right: 20px;
        }
    }

    div.contact {
        padding: 10px;
        height: 50px;

        &:hover {
            background: @lightGrey;
        }

        &:last-child {
            margin-bottom: 50px;
        }

        input {
            width: auto;
        }

        div {
            display: inline-block;
            vertical-align: top;
        }

        div.form, div.text {
            width: 75%;
        }

        div.text {
            margin-top: 3px;
        }

        div.buttons {
            width: 25%;
            text-align: right;
        }
    }
}
