section.frameless {
    section#sidebar {
        header {
            height: @topHeight + @framelessHeight;

            div.search {
                padding-top: @framelessHeight + 12;
                height: @topHeight + @framelessHeight;
            }
        }

        div#filters {
            top: @topHeight + @framelessHeight + 7;
        }
    }

    section#columns {
        div.column {
            h3 {
                padding-top: 34px;
                height: @topHeight + @framelessHeight;
            }

            div.emails {
                top: @topHeight + @framelessHeight - 1;
            }
        }
    }

    section#thread {
        h1 {
            padding-top: 34px;
            height: @topHeight + @framelessHeight;
        }

        section#content {
            top: @topHeight + @framelessHeight + 1;
        }

        section#meta {
            padding-top: 34px;
        }
    }
}
