header {
    height: @dragBarHeight;
    background: @pink;
    position: relative;
    color: white;

    h1#logo {
        float: left;
        line-height: 22px;
        display: inline-block;
        margin: 0;
        padding: 0 5px 0 5px;
        font-size: 16px;

        span, i {
            float: left;
        }

        i {
            line-height: 22px;
            font-size: 15px;
        }
    }

    div.header-errors {
        float: right;
        text-align: right;

        i {
            line-height: 16px;

            &.error {
                color: @orange !important;
            }
        }

        div.icon-wrapper {
            padding-right: 10px;

            a {
                color: white;
            }
        }

        div.icon-contents {
            display: none;
            position: absolute;
            width: 600px;
            border: 5px solid @orange;
            max-height: 500px;
            overflow-y: auto;
            background: white;
            padding: 5px;
            z-index: 9999;
            color: black;
            left: @sidebarWidth;
            text-align: left;
            pointer-events: all;
            user-select: text;

            p {
                margin: 15px 0 10px 0;
                padding-bottom: 10px;
                border-bottom: 1px solid @lightGrey;
                line-height: 24px;

                &:last-child {
                    border-bottom: none;
                }

                span.meta {
                    display: block;
                    font-size: 12px;
                    // line-height: 12px;
                    color: @darkGrey;
                }

                textarea {
                    font-size: 12px;
                    line-height: 20px;
                    resize: none;
                    height: 100px;
                }

                a {
                    color: @blue;
                }

                button {
                    float: right;
                }
            }
        }

        div.icon-contents:hover,
        div.icon-wrapper:hover div.icon-contents {
            display: block;
        }
    }

    &.header-bar div.header-errors {
        margin-top: 20px;
        position: absolute;

        div.icon-contents {
            margin-left: -600px;
            left: 0;
        }

        div.icon-wrapper a {
            color: @textGrey;
        }
    }
}

/* Make the logo float right on MacOS, as the control buttons live on the left */
section.Darwin header h1#logo {
    float: right;
}



/*
    Drag bar */

div#drag-bar {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    right: 0;
    height: @dragBarHeight;
    background: transparent;
    // background: orange;

    &:hover {
        background: rgba(0, 0, 0, 0.05);
        cursor: grab;
    }

    a {
        float: right;
        color: @lightGrey;
        font-size: 14px;

        width: 18px;
        height: 18px;
        border-radius: 20px;
        background: transparent;
        text-align: center;

        margin-top: 2px;
        margin-right: 5px;
        padding-top: 1px;

        border: 1px solid transparent;

        &:hover {
            border-color: #A7A7A7;
        }
        &:first-child {
            margin-right: 5px;
        }

            i.close {
                color: @orange;
            }

            i.minimize {
                color: @yellow;
            }

            i.maximize {
                color: @green;
            }
    }
}
