/*
    Settings */

section#settings {
    height: 100%;
    overflow-y: auto;

    h2 small {
        font-size: 14px;
    }

    div.error {
        color: @orange;
    }

    div.hidden {
        display: none;
    }

    button.main-button {
        padding: 15px;
        margin-left: 10px;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    div.settings {
        label {
            width: 30%;
            display: inline-block;

            small {
                display: block;
                color: #777;
            }
        }

        &.advanced {
            background: #E7E7E7;
        }
    }

    div#add-account {
        padding: 10px;

        div.new-account {
            form {
                width: 300px;
                display: inline-block;

                div {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            p {
                display: inline-block;
                vertical-align: top;
                margin-left: 20px;
                color: #666;
                width: 300px;
                margin-top: 195px;
            }
        }

        button {
            margin-right: 5px;
        }
    }

    div#style, div#system {
        padding-left: 10px;
        padding-right: 10px;

        > input, div.select-wrapper {
            width: 70%;
            display: inline-block;
            margin-bottom: 30px;
        }
    }

    div#system {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    div#accounts {
        margin-bottom: 30px;

        h2 {
            margin-left: 10px;
            margin-bottom: 0;
        }

        small {
            display: block;
            margin-left: 10px;
        }
    }

    .account {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        background: #F7F7F7;
        padding: 10px;
        margin: 0;

        &.active {
            background: #E7E7E7;
        }

        &.new {
            background: transparent;
        }

        i {
            float: right;
        }

        label {
            display: block;

            &.checkbox {
                display: inline-block;
            }
        }

        // button {
        //     margin-left: 5px;
        // }

        div.top-bar {
            margin-bottom: 20px;
        }

        div.right {
            float: right;
            text-align: right;
            width: 20%;
        }

        input#name {
            width: 300px;
        }
    }

    form.account {
        padding-bottom: 20px;
    }
}
