/*
    Settings */

section#settings {
    top: @topHeight;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    position: fixed;

    button.main-button {
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    div.settings {
        padding: 20px;

        label {
            display: block;

            small {
                display: block;
            }
        }

        > input {
            margin-bottom: 30px;
        }

        .select-wrapper {
            padding-bottom: 30px;
        }

        div.no-input {
            margin-top: 30px;
        }
    }

    div.checkbox {
        margin-bottom: 30px;
        display: flex;
        label {
            width: 300px;
        }
    }

    form.account {
        padding-bottom: 20px;
    }
}

section#welcome-settings {
    margin: 0 auto;
    width: 820px;

    h2 {
        margin-top: 160px;
    }

    img {
        vertical-align: middle;
        margin-top: -10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    > p {
        margin: 15px 10px;
        font-size: 18px;

        button {
            margin-top: 10px;
        }
    }
}

div#accounts {
    margin: 0 10px;
    margin-bottom: 30px;

    h2 {
        margin-bottom: 0;
    }

    > small {
        display: block;
        margin-left: 10px;
    }

    div.hidden {
        display: none;
    }

    .account {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        margin: 0 0 10px 0;
        border-radius: @borderRadius;

        &.active {
            border: 1px solid;
        }

        i {
            float: right;
        }

        label {
            display: block;
            margin-top: 10px;

            &.checkbox {
                display: inline-block;
            }
        }

        div.top-bar {
            margin-bottom: 20px;
        }

        div.right {
            float: right;
            text-align: right;
            width: 25%;
        }

        input#name {
            width: 300px;
        }
    }

    div#add-account {
        padding: 0 10px 10px 10px;

        div.new-account {
            form {
                width: 300px;
                display: inline-block;

                div {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            p {
                display: inline-block;
                vertical-align: top;
                margin-left: 20px;
                margin-top: 85px;
                width: 400px;
            }
        }

        button {
            margin-right: 5px;
        }
    }
}
