/*
    Folders/filters (left column) */

section#sidebar {
    width: @sidebarWidth;
    float: left;
    height: 100%;
    background: @darkGrey;
    color: white;

    .no-select;

    header {
        height: (@topHeight - 1);

        h1 {
            margin: 0;
            padding-left: 10px;
            font-size: 16px;
            line-height: 38px;

            i {
                line-height: 38px;
                font-size: 15px;
                color: white;
            }
        }

        a.compose {
            color: white;
            font-size: 14px;
            font-family: Roboto;
            margin-left: 10px;

            i {
                margin-right: 5px;
            }
        }

        div.sidebar-header {
            float: right;
            text-align: right;

            i {
                line-height: 16px;

                &.error {
                    color: @orange;
                }
            }

            div.icon-wrapper {
                padding-right: 10px;

                a {
                    color: white;
                }
            }

            div.icon-contents {
                display: none;
                position: absolute;
                width: 600px;
                border: 5px solid @orange;
                max-height: 500px;
                overflow-y: auto;
                background: white;
                padding: 5px;
                z-index: 9;
                color: black;
                left: @sidebarWidth;
                text-align: left;

                p {
                    margin: 15px 0 10px 0;
                    padding-bottom: 10px;
                    border-bottom: 1px solid @lightGrey;

                    &:last-child {
                        border-bottom: none;
                    }

                    span.meta {
                        display: block;
                        font-size: 12px;
                        line-height: 12px;
                        color: @darkGrey;
                    }
                }
            }

            div.icon-contents:hover,
            div.icon-wrapper:hover div.icon-contents {
                display: block;
            }
        }
    }

    div#search {
        input {
            height: 30px;
            font-size: 14px;
            width: 150px;
            padding: 15px 0 15px 10px;
            margin: -5px 0 0 0;
            background: #232727;
            border: none;
            border-bottom: 1px solid black;
            outline: none;
            color: white;

            &:focus {
                background: #121616;
            }
        }
    }

    ul {
        margin: 0 0 20px 0;
        padding: 0;

        li {
            list-style: none;
            font-size: 14px;

            a, span {
                padding: 5px 0 5px 10px;
                display: block;
                color: #A7A7A7;
            }

            span {
                background: @green;
                color: white;
            }

            a {
                &:hover {
                    background: #232727;
                    color: white;
                }

                span {
                    display: block;
                }
            }

            &.active a, &.hover a {
                color: white;
                background: #232727;
            }

            i {
                margin-right: 7px;
                margin-top: -13.5px;
                font-size: 12px;
            }
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        font-size: 10px;
        color: #666;
        line-height: 16px;
        padding: 20px 0 10px 10px;
        width: @sidebarWidth;

        a {
            color: #A7A7A7;
        }

        div#footer-status {
            margin-top: 10px;
            position: relative;
            width: 100%;

            span {
                opacity: 0.5;
                display: inline-block;
                width: 30px;
            }

            i {
                margin-right: 2px;
            }

            span.toggle {
                width: 16px;
                float: right;
                margin: 0 5px 0 0;

                i {
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 14px;
                }
            }
        }

        section#status {
            position: fixed;
            bottom: 0;
            right: 0;
            left: @sidebarWidth;
            height: 100px;
            background: @lightGrey;
            border-top: 5px solid #D7D7D7;
            z-index: 9;
            display: flex;
            justify-content: space-between;

            div {
                width: 32%;
                padding: 5px;
                overflow-y: auto;
            }
        }
    }
}
