<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleIdentifier</key>
        <string>Kanmail</string>
        <key>CFBundleShortVersionString</key>
        <string>0.0.0</string>
        <key>CFBundleExecutable</key>
        <string>MacOS/Kanmail</string>
        <key>CFBundleName</key>
        <string>Kanmail</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleDisplayName</key>
        <string>Kanmail</string>
        <key>CFBundleIconFile</key>
        <string>Kanmail.icns</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>LSBackgroundOnly</key>
        <string>0</string>
        <key>NSHighResolutionCapable</key>
        <string>True</string>
    </dict>
</plist>
